/* GENERAL */
:root {
  --spotify-green: #1dcf5b
}

.bg-spotify {background-color:var(--spotify-green);}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.gap-20 {
  gap:20px;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #202020, #121212);
}

.nav-arrow {
  padding: 5px;
  width: 30px;
  aspect-ratio: 1/1;

}

.music .sopra {
  background-color: unset!important;
}

/* INDEX */
label.absolute {
  top:10px;
  right: 10px;
}

#first-song {
  background: linear-gradient(45deg, #000000, #202020 );
}

.index-wrap{
  height: 100vh;
}

#six-random-album .album {
  background-color: #2C2C2C;
  max-width: 90%;
}

@media screen and (max-width:430px) {
  #first-song {
    flex-direction:column;
  }
  .first-song-wrapper p:first-child{
    margin-top:20px;
  }

  label.absolute {display: none;}

  .navmobile {
    position: fixed;
    bottom:0
  }

  #six-random-album {
    flex-direction: column;
  }

  #six-random-album .album {
    width: 100%;
  }

  .sidebar {display: none;}
 
  .generi-box img {
    width: 100%!important;
  }

}


/* ARTIST */
.page-container {
  min-height: 100vh;
  height: 100%;
}

.hero-artist {
  min-height: 300px;
  background-image: url('https://picsum.photos/1920/1080');
}

.fav.absolute {
  bottom:0;
  right:0;
}


/* ALBUM */

@media screen and (max-width:430px){
  main.sopra {
    flex-direction: column!important;
    align-items: start!important;
    padding: 2rem!important;
  }

  main.sopra img {
    margin-bottom: 20px;
  }

  main.sopra .titolo-album{
    font-size: 20px;
  }

  main.sopra .ms-4 {
    margin: 0!important;
  }
}







/* ANTONIO PROVA */
/* 
.album{
  width: 150px;
} */